.modal {
    display: none;
    width: 400px;
    background: #fff;
    padding: 15px 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px #000;
    z-index: 10;
}

.modal a.close-modal {
    position: absolute;
    top: -12.5px;
    right: -12.5px;
    display: block;
    width: 30px;
    height: 30px;
    text-indent: -9999px;
    background: url(../img/close.png) no-repeat 0 0;
}

html {
    height: 100%;
}
body {
    height: 100%;
    text-align: center;
    overflow: hidden;
}
.container {
    height: 100%;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    text-align: left;
}
iframe {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
}
#float {
    position: absolute;
    top: 0px;
    left: 0px;
    background: black;
    border-top: 1px solid #636363;
    margin-top: -1px;
    z-index: 10240124;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    color: #afafaf;
    zoom: 1;
}
#float a, button {
    color: #ececec;
}
#float.switched {
    -webkit-transform: translate(0px, 100%);
    -moz-transform: translate(0px, 100%); 
    -ms-transform: translate(0px, 100%);
    -o-transform: translate(0px, 100%); 
    transform: translate(0px, 100%);
    box-shadow: 0px 0px 20px #353535;
    margin-top: -50px;
}
#float.switched button.unswitch {
    display: inline-block;
}
#float.switched button, #float button.unswitch {
    display: none;
}
.floor {
    width: 100%;
    height: 100%;
    overflow: auto;
    background: rgb(82,164,92);
    background: -moz-radial-gradient(center, ellipse cover, rgba(12,107,113,1) 0%, rgba(8,98,100,1) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(12,107,113,1)), color-stop(100%,rgba(8,98,100,1)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(12,107,113,1) 0%,rgba(8,98,100,1) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(12,107,113,1) 0%,rgba(8,98,100,1) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(12,107,113,1) 0%,rgba(8,98,100,1) 100%);
    background: radial-gradient(ellipse at center, rgba(12,107,113,1) 0%,rgba(8,98,100,1) 100%);
    overflow: hidden;
}
.center {
    width: 960px;
    margin: 0 auto;
    text-align: left;
}
.table {
    position: relative;
    margin: 40px auto;
    background: url(../img/alapoker.png) no-repeat center center;
    background-size: 250px 50px;
	border: 7px solid rgba(139, 172, 144, 1);
    height: 150px;
    width: 400px;
    border-radius: 200px;
}
#start_game {
    border-radius: 4px;
    padding: 2px 10px;
    outline: none;
    border: 1px solid #9dd53a;
    background: #52a45c;
}
button.player {
    font-size: 10px;
    margin: 0 4px;
	margin-top: 5px;
    width: 27px;
    padding: 3px;
}
a:active, a:hover, a:visited, a {
    color: #333;
    text-decoration: none;
}
#float .button {
    width: 50px;
    text-align: center;
    margin: -6px 0px 0px 20px;
}
#float .button, #float button {
    cursor: pointer;
    outline: none;
    padding: 4px 20px;
    border-top: 1px solid #636363 !important;
    position: relative;
    top: -13px;

    background-color: #86bbbc;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #86bbbc), color-stop(50%, #589fa0), color-stop(50%, #368e8f), color-stop(100%, #3c9091));
    background-image: -webkit-linear-gradient(top, #86bbbc 0%, #589fa0 50%, #368e8f 50%, #3c9091 100%);
    background-image: -moz-linear-gradient(top, #86bbbc 0%, #589fa0 50%, #368e8f 50%, #3c9091 100%);
    background-image: -ms-linear-gradient(top, #86bbbc 0%, #589fa0 50%, #368e8f 50%, #3c9091 100%);
    background-image: -o-linear-gradient(top, #86bbbc 0%, #589fa0 50%, #368e8f 50%, #3c9091 100%);
    background-image: linear-gradient(top, #86bbbc 0%, #589fa0 50%, #368e8f 50%, #3c9091 100%);
    border: 1px solid #172d6e;
    border-bottom: 1px solid #0e1d45;
    border-radius: 0px 0px 10px 10px;
    box-shadow: inset 0 1px 0 0 #b1b9cb;
    text-decoration: none;
    text-align: center;
    text-shadow: 0 -1px 1px #000f4d;
}
#float .button:hover, #float button:hover {
    background-color: #79a9aa;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #79a9aa), color-stop(50%, #4d8d8e), color-stop(50%, #2f7c7d), color-stop(100%, #357f80));
    background-image: -webkit-linear-gradient(top, #79a9aa 0%, #4d8d8e 50%, #2f7c7d 50%, #357f80 100%);
    background-image: -moz-linear-gradient(top, #79a9aa 0%, #4d8d8e 50%, #2f7c7d 50%, #357f80 100%);
    background-image: -ms-linear-gradient(top, #79a9aa 0%, #4d8d8e 50%, #2f7c7d 50%, #357f80 100%);
    background-image: -o-linear-gradient(top, #79a9aa 0%, #4d8d8e 50%, #2f7c7d 50%, #357f80 100%);
    background-image: linear-gradient(top, #79a9aa 0%, #4d8d8e 50%, #2f7c7d 50%, #357f80 100%);
}
#float .button:active, #float button:active, #float .button[disabled], #float button[disabled] {
    box-shadow: inset 0 0 20px 0 #1d2845, 0 1px 0 black;
}
.table button {
    cursor: pointer;
    outline: none;
    border-radius: 3px;
    padding: 4px 7px;
    border: 1px solid white;
    box-shadow: 0px 0px 3px #333;
    background: #f2f6f8;
    background: -moz-linear-gradient(top, #f2f6f8 0%, #d8e1e7 50%, #b5c6d0 51%, #e0eff9 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2f6f8), color-stop(50%,#d8e1e7), color-stop(51%,#b5c6d0), color-stop(100%,#e0eff9));
    background: -webkit-linear-gradient(top, #f2f6f8 0%,#d8e1e7 50%,#b5c6d0 51%,#e0eff9 100%);
    background: -o-linear-gradient(top, #f2f6f8 0%,#d8e1e7 50%,#b5c6d0 51%,#e0eff9 100%);
    background: -ms-linear-gradient(top, #f2f6f8 0%,#d8e1e7 50%,#b5c6d0 51%,#e0eff9 100%);
    background: linear-gradient(to bottom, #f2f6f8 0%,#d8e1e7 50%,#b5c6d0 51%,#e0eff9 100%);
    text-shadow: 0px 1px 0px rgba(255,255,255,.5);
    color: #333;
}
.table button:hover {
    box-shadow: 0px 0px 8px rgba(200, 200, 200, 0.8);
    border: 1px solid rgba(200, 200, 200, 0.6);
    background: #fafbfc;
    background: -moz-linear-gradient(top, #fafbfc 0%, #eff3f5 50%, #e0e7ec 51%, #f2f8fc 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fafbfc), color-stop(50%,#eff3f5), color-stop(51%,#e0e7ec), color-stop(100%,#f2f8fc));
    background: -webkit-linear-gradient(top, #fafbfc 0%,#eff3f5 50%,#e0e7ec 51%,#f2f8fc 100%);
    background: -o-linear-gradient(top, #fafbfc 0%,#eff3f5 50%,#e0e7ec 51%,#f2f8fc 100%);
    background: -ms-linear-gradient(top, #fafbfc 0%,#eff3f5 50%,#e0e7ec 51%,#f2f8fc 100%); 
    background: linear-gradient(to bottom, #fafbfc 0%,#eff3f5 50%,#e0e7ec 51%,#f2f8fc 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafbfc', endColorstr='#f2f8fc',GradientType=0 );
}
.table button:active, .table button[disabled] {
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(50, 50, 50, 0.6);
    text-shadow: 0px 1px 0px rgba(255,255,255,.9);
    color: #5a5a5a;
    background: #acc5d2;
    background: -moz-linear-gradient(top, #acc5d2 0%, #9cb3c2 50%, #819eaf 51%, #8ac2e8 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#acc5d2), color-stop(50%,#9cb3c2), color-stop(51%,#819eaf), color-stop(100%,#8ac2e8));
    background: -webkit-linear-gradient(top, #acc5d2 0%,#9cb3c2 50%,#819eaf 51%,#8ac2e8 100%);
    background: -o-linear-gradient(top, #acc5d2 0%,#9cb3c2 50%,#819eaf 51%,#8ac2e8 100%);
    background: -ms-linear-gradient(top, #acc5d2 0%,#9cb3c2 50%,#819eaf 51%,#8ac2e8 100%);
    background: linear-gradient(to bottom, #acc5d2 0%,#9cb3c2 50%,#819eaf 51%,#8ac2e8 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#acc5d2', endColorstr='#8ac2e8',GradientType=0 );
}
.message button {
    position: relative;
    top: -6px;
    font-size: 14px;
    text-transform: uppercase;
    background: #a84841;
    border-top: 1px solid #8c3e38;
    border-right: 1px solid #4d221f;
    border-bottom: 1px solid #331715;
    border-left: 1px solid #4d221f;
    border-radius: 4px;
    box-shadow: inset 0 1px 10px 1px #ee665c, 0px 1px 0 #4d201d, 0 6px 0px #53221f, 0 8px 4px 1px #111111;
    color: #fff;
    padding: 4px 16px 6px 16px;
    text-align: center;
    text-shadow: 0px -1px 1px #4d211e;
}
.message button:hover {
    box-shadow: inset 0 0px 20px 1px #ff8f87, 0px 1px 0 #4d201d, 0 6px 0px #53221f, 0 8px 4px 1px #111111;
    cursor: pointer;
}
.message button:active, .message button[disabled] {
    box-shadow: inset 0 1px 10px 1px #ee665c, 0 1px 0 #4d201d, 0 2px 0 #53221f, 0 4px 3px 0 #111111;
    top: -1px;
}
header {
    padding: 10px;
}
.switched header button {
    border: 1px solid #D53A3A;
}
#bet_table, #options_table {
    width: 600px;
}
#bet_table td {
    width: 150px;
    position: relative;
}
#bet_table td > input {
    padding: 3px 2px 3px 13px;
    outline: 0;
    border-radius: 3px;
    border: 1px solid #333;
    width: 50%;
    box-shadow: inset 0px 1px 5px 1px #6a6a6a;
    text-shadow: 0px 1px 1px white;
}
#bet_table td > div[pre] {
    position: absolute;
    top: 4px;
    left: 6px;
}
#bet_table td > div[am] {
    color: #555;
    text-align: right;
    position: absolute;
    right: 2px;
    top: 4px;
}
#bet_table td > span {
    display: inline-block;
    width: 40px;
    height: 30px;
    line-height: 30px;
    vertical-align: middle;
    font-weight: bold;
    font-size: 125%;
    padding-left: 12px;
    text-align: left;
}
#bet_table td > span:nth-child(1) {
    padding-left: 0px;
}
#bet_table td > span[d], #bet_table td > span[h] {
    color: red;
}
#bet_table td > span[d]:after {
    background: url(../img/D.png) no-repeat center right;
}
#bet_table td > span[s]:after {
    background: url(../img/S.png) no-repeat center right;
}
#bet_table td > span[c]:after {
    background: url(../img/C.png) no-repeat center right;
}
#bet_table td > span[h]:after {
    background: url(../img/H.png) no-repeat center right;
}
#bet_table td > span:after {
    display: inline-block;
    content: ' ';
    width: 18px;
    height: 18px;
    background-size: 18px 18px !important;
}
.message.highlight {
    color: red;
}
.message {
    position: absolute;
    width: 100%;
    text-align: center;
    color: white;
    text-shadow: 0px 0px 5px black;
    font-weight: bold;
    font-family: Arial;
    font-size: 20px;
    margin-top: -42px;
    -webkit-transition: all 0.7s ease-out; 
    -moz-transition: all 0.7s ease-out; 
    -o-transition: all 0.7s ease-out; 
    transition: all 0.7s ease-out; 
}
.ui {
    position: absolute;
    top: 65%;
    width: 100%;
    text-align: center;
}
.reset {
    position: absolute;
    top: 33px;
    left: 240px;
	font-size: 10px;
}
.bet, .payout {
    position: absolute;
    top: 10px;
    left: 240px;
	font-size: 10px;
}
.deck {
    position: absolute;
    top: 3px;
    left: 42%;
}
.deck .shuffle {
    position: relative;
}
.deck .shuffle .card {
    position: absolute;
    float: left;
    z-index: 10;
    width: 40px;
    height: 56px;
    background: url(...mobi img[Back.png) no-repeat center center;
    background-size: 40px 56px;
}
.hands {
    position: relative;
}
.hands .hole {
    height: 50px;
    width: 70px;
}
.hands {
    display: inline-block;
    cursor: pointer;
}
.hole {
    display: inline-block;
    position: absolute;
    width: 50px;
    height: 70px;
    -webkit-perspective: 600px;
    -moz-perspective: 600px;
}
.hole img {
    width: 50px;
    height: 70px;
}
.hole .front img:nth-child(2){
    left: 40px;
}
.hole .back img:nth-child(2){
    left: 40px;
}
.hole .front img {
    float: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 900;
    -webkit-transform: rotateX(0deg) rotateY(0deg);
    -webkit-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    -moz-transform: rotateX(0deg) rotateY(0deg);
    -moz-transform-style: preserve-3d;
    -moz-backface-visibility: hidden;
    -o-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
.hole .front img.flip, .deads:hover .hole .front img {
    z-index: 900;
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
}

.hole .back img {
    float: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 800;
    -webkit-transform: rotateY(-180deg);
    -webkit-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    -moz-transform: rotateY(-180deg);
    -moz-transform-style: preserve-3d;
    -moz-backface-visibility: hidden;
    -o-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.hole .back img.flip, .deads:hover .hole .back img {
    z-index: 1000;
    -webkit-transform: rotateX(0deg) rotateY(0deg);
    -moz-transform: rotateX(0deg) rotateY(0deg);
}

.hole .odds {
    position: absolute;
    top: 40px;
    left: 4px;
	font-size: 10px;
    background: rgba(255, 255, 255, 0.92);
    border-radius: 5px;
    color: #333;
    width: 64px;
    text-align: center;
}

.hole .odds strong:after {
    content: "%";
}
.faded {
    opacity: 0.3;
}
.winout {
    position: absolute;
    color: #4BD446;
    font-size: 64px;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 0px 0px 30px 30px;
    padding: 10px 30px;
    min-width: 250px;
    text-align: center;
}
.wintitle {
    position: absolute;
    color: #bada55;
    font-size: 40px;
    text-transform: uppercase;
    text-shadow: 0px 0px 22px black;
    text-align: center;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 30px 30px 0px 0px;
    padding: 10px 30px;
    z-index: 10240126;
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
.rays{
    background: url(../img/rays.png) 0 0 no-repeat; 
    position: absolute; 
    top: -80px;
    left: -90px;
    width: 320px;
    height: 320px;
    background-size: 320px 320px;
    z-index: -1;
    -webkit-animation-name: spin; 
    -webkit-animation-duration: 40000ms;
    -webkit-animation-iteration-count: infinite; 
    -webkit-animation-timing-function: linear;
}

#login p {
    display: inline-block;
    border-radius: 3px;
    color: #d0d5cb;
    font-weight: normal;
    text-align: center;
    cursor: pointer;
    padding: 10px;
    padding-left: 30px;
}
#login p:hover {
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}
#login p.persona {
    box-shadow:inset 0 -1px 0 rgba(0,0,0,0.3),0 1px 0 rgba(0,0,0,0.2);
    background-color:#4eb5e5;
    background-image:linear-gradient(top,#4eb5e5,#3196cf);
    color: white;
}
#login p.persona:hover {
    background-color: #4aafe5;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#4aafe5),to(#2c89c8));
    background-image: -webkit-linear-gradient(top,#4aafe5,#2c89c8);
    background-image: -moz-linear-gradient(top,#4aafe5,#2c89c8);
    background-image: -ms-linear-gradient(top,#4aafe5,#2c89c8);
    background-image: -o-linear-gradient(top,#4aafe5,#2c89c8);
    background-image: linear-gradient(top,#4aafe5,#2c89c8);
}
#login p.persona:active {
    background-color:#184a73;
    background-image:linear-gradient(top,#184a73,#276084);
    color:#97b6ca;
    text-shadow:0 1px rgba(0,0,0,0.4);
    box-shadow:inset 0 2px 1px rgba(0,0,0,0.3);
}
#login p span[p] {
    display: inline-block;
    width: 23px;
    height: 21px;
    margin-left: -15px;
    margin-right: 10px;
    line-height: 21px;
    vertical-align: middle;
    background: url(../img/persona.png) no-repeat center center;
}
#login p.facebook {
    background-color: #344E85;
}
#login p.facebook:hover {
    background-color: #344E85;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#344E85),to(#2E4066));
    background-image: -webkit-linear-gradient(top,#344E85,#2E4066);
    background-image: -moz-linear-gradient(top,#344E85,#2E4066);
    background-image: -ms-linear-gradient(top,#344E85,#2E4066);
    background-image: -o-linear-gradient(top,#344E85,#2E4066);
    background-image: linear-gradient(top,#344E85,#2E4066);
}
#login p.facebook:active {
    background-color:#1E2D4D;
    background-image:linear-gradient(top,#344E85,#2E4066);
    color:#97b6ca;
    text-shadow:0 1px rgba(0,0,0,0.4);
    box-shadow:inset 0 2px 1px rgba(0,0,0,0.3);
}
#login p span[f] {
    display: inline-block;
    width: 11px;
    height: 21px;
    margin-left: -15px;
    margin-right: 10px;
    line-height: 21px;
    vertical-align: middle;
    background: url(../img/facebook.png) no-repeat center center;
}
.admin .hole {
    width: 200px;
    margin-top: 30px;
}
.hole > input {
    width: 40px;
    margin-left: 10px;
}
.hole.d0 {
    margin-left: -30px;
}
.hole.d2 {
    margin-left: 30px;
}
.h0 {
    top: -60px;
    left: -95px;
}
.h2 {
    top: 25px;
    left: -115px;
}
.h4 {
    top: 109px;
    left: -95px;
}
.h6 {
    top: 175px;
    left: 15px;
}
.h8 {
    top: 176px;
    left: 122px;
}
.h9 {
    top: 176px;
    left: 222px;
}
.h7 {
    top: 175px;
    left: 324px;
}
.h5 {
    top: 109px;
    left: 414px;
}
.h3 {
    top: 25px;
    left: 430px;
}
.h1 {
    top: -60px;
    left: 420px;
}
.b0 {
    top: 180px;
    left: 110px;
}
.b1 {
    top: 180px;
    left: 235px;
}
.b2 {
    top: 180px;
    left: 360px;
}
.b3 {
    top: 180px;
    left: 485px;
}
.b4 {
    top: 180px;
    left: 610px;
}
.d0 {
    top: 10px;
    left: 150px;
}
.d1 {
    top: 10px;
    left: 175px;
}
.d2 {
    top: 10px;
    left: 200px;
}

.mobi img  {
    width: 50px;
    height: 70px;
    background:url(../img/cardsprite.png) 0 0;
}
.mobi img[src$=H\.png] {
    background-position-y: 0px;
}
.mobi img[src$=D\.png] {
    background-position-y: 244px;
}
.mobi img[src$=C\.png] {
    background-position-y: 72px;
}
.mobi img[src$=S\.png] {
    background-position-y: 158px;
}
.mobi img[src^=m2] {
    background-position-x: -1px;
}
.mobi img[src^=m3] {
    background-position-x: -58px;
}
.mobi img[src^=m4] {
    background-position-x: -119px;
}
.mobi img[src^=m5] {
    background-position-x: -180px;
}
.mobi img[src^=m6] {
    background-position-x: -241px;
}
.mobi img[src^=m7] {
    background-position-x: -302px;
}
.mobi img[src^=m8] {
    background-position-x: -363px;
}
.mobi img[src^=m9] {
    background-position-x: -424px;
}
.mobi img[src^=mT] {
    background-position-x: -485px;
}
.mobi img[src^=mJ] {
    background-position-x: -546px;
}
.mobi img[src^=mQ] {
    background-position-x: -607px;
}
.mobi img[src^=mK] {
    background-position-x: -668px;
}
.mobi img[src^=mA] {
    background-position-x: -729px
}
.enc {
    position: absolute;
    bottom: 0px;
    left: 0px;
    font-size: 50px;
    color: rgb(1, 34, 0);
    text-shadow: rgb(0, 94, 4) 0px 1px 0px;   
}
#options_table td {
    padding-left: 10px;
}
#options_table tbody td:nth-child(1) {
    border-right: 1px dotted #333;
    font-weight: bold;
    padding-right: 20px;
    text-align: left;
    padding-left: 0px;
}
#options_table label {
    display: inline-block;
    width: 100px;
}
#options_table tfoot td {
    padding-top: 30px;
    text-align: center;
}
#rakeOpt, #rakeOpt * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    display: inline-block;
    cursor: default;
}
#rakeOpt {
    position: relative;
}
#rakeOpt a {
    position: absolute;
    z-index: 1;
}
#rakeOpt a:nth-child(2) {
    background: inherit !important;
}
#rakeOpt.vertical a {
    width: 100%;
    bottom: 0;
}
#rakeOpt.horizontal a {
    height: 100%;
    right: 0;
}